/* Mobaile Styling */
h1, h2{
    font-size: 2rem;
}

h1{
    margin-bottom: 25px;
}

h2{
    margin-bottom: 40px;
}

h2 > i{
    margin-right: 10px;
}

h3{
    margin-bottom: 20px;
    font-size: 1.5rem;
}

/* Resusable Classes */
.main{
    background-color: #fff7f7;
}

.container{
    padding: 0 20px;
}

/* Header */
.header{
    padding: 15px 20px;
}

.header-logo-img{
    width: 40px;
}

.header-logo-title{
    display: none;
}

.header-nav-menu-item{
    margin-left: 20px;
}

/* Main - Hero */
/* padding:上 左右 下 */
.main-hero{
    padding: 100px 0 80px;
}

.main-hero-highlight-links p{
    margin-bottom: 20px;
}

/* 改行がなくなる */
.main-hero-highlight-links p > br{
    display: none;
}

.main-hero-img{
    display: none;
}

/* Main - Works */
.main-works{
    padding: 80px 0;
}

.main-works-item{
    margin-bottom: 50px;
}

.main-works-item-img{
    margin-bottom: 40px;
}

.main-works-itemt-text p:last-of-type{
    margin-bottom: 30px;
}

/* Footer */
.footer{
    padding: 60px 0 10px;
}

.footer-form{
    margin-bottom: 80px;
}

.footer-form-input{
    margin-bottom: 10px;
}

.footer-form-textarea{
    margin-bottom: 20px;
}

.footer-info{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-info-nav,
.footer-info-follow{
    margin-bottom: 40px;
}

.footer-info-nav{
    display: flex;
    align-items: baseline;
}

.footer-info-nav-menu ul{
    display: flex;
}

.footer-info-nav-menu li{
    margin-left: 20px;
}

.footer-info-nav-img{
    width: 60px;
}


