/* Tablet Styling */
@media screen and (min-width:48em) {
    h1, h2{
        font-size: 2.25rem;
    }

    h1{
        margin-bottom: 40px;
    }

    h2{
        margin-bottom: 60px;
    }

    h2 > i{
        margin-right: 20px;
    }

    /* Resusable Classes */
    .container{
        padding: 0 40px;
    }

    /* Header */
    .header{
        padding: 20px 40px;
    }

    .header-logo-img{
        width: 60px;
    }

    .header-nav-menu-item{
        margin-left: 40px;
    }

    .header-nav-menu-item > a{
        font-size: 1.5rem;
    }
    
    /* news */
    .news{
        margin: 64px 0;
    }

    /* Main - Hero */
    .main-hero{
        padding: 140px 0 100px;
    }

    .main-hero-container{
        display: flex;
        align-items: center;
    }

    .main-hero-highlight{
        width: 60%;
    }

    .main-hero-highlight-links{
        padding: 34px 34px 0 0;
        display: flex;
        justify-content: space-between;
    }

    .main-hero-img{
        display: block;
        width: 40%;
        padding-left: 20px;
    }

    .main-hero-img img{
        border-radius: 50%;
    }

    .main-about-addition-skills{
        display: flex;
    }

    .main-about-addition-skills ol+ol{
        padding-left: 42px;
    }

    .main-about-addition-skills li{
        padding: 6px 0;
    }




    /* Main - Works */
    .main-works{
        padding: 100px 0;
    }

    .main-works-item{
        display: flex;
        align-items: center;
        /* margin: 0 -30px 50px; */
    }

    /* :nth-child() は CSS の擬似クラスで、兄弟要素のグループの中での位置に基づいて選択します。 */
    .main-works-item:nth-child(2){
        flex-direction: row-reverse;
    }

    .main-works-item-text,
    .main-works-item-img{
        width: 50%;
        padding: 0 30px;
    }

    .main-about-img .tablet-and-up{
        display: block;
        width: 100%;
    }



}


/* Footer */
.footer{
    padding: 100px 0;
}

.footer-container{
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.footer-form,
.footer-info{
    width: 50%;
}

.footer-info{
    align-items: flex-start;
    margin-top: 0;
}

.footer-form{
    margin-bottom: 0;
}

.footer-form-textarea{
    margin-bottom: 30px;
}

.footer-info-follow{
    margin-bottom: 140px;
}

.footer-info-copy{
    margin-bottom: 0;
}